.headerleft {
    display: inline;
    float: left;
}

/*.select {*/
/*    background: url("img/select") 95% center no-repeat;*/
/*    height: 40px;*/
/*    line-height: 24px;*/
/*    color: #fff;*/
/*}*/

.col-sm-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
[class*=" col-"], [class^=col-] {
    padding-right: 0;
    padding-left: 0;
}

.row {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

}
.navbar{
    background-image: url("../img/bg-header02.31680d18a7b8dd622779.png");
}
select{
    background-image: url("../img/bg-header02.31680d18a7b8dd622779.png");
    word-wrap: normal;
    width: 168px;
    height: 40px;
    margin: 0 130px 0 -113px;
    border: 3px solid white;
    color: white;
}

.banner-name .text-hidden {
    top: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}
li .nav-item{
    text-align: center;
}
.danhmuc li:hover{
    margin-top: 2px;
    color: lightseagreen ;
    border-bottom: 2px solid lightseagreen;
}
li{
    text-decoration: none;
    list-style-type: none;
}
@keyframes openDanhmuc {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.manu
{
    display: inline-flex;
}
.logo .alf-logo img {
    max-width: 100%;
}
ul{
    display: inline-flex;
}
.member {
    margin: 10px 75px 0 0;
}
img, svg {
    vertical-align: middle;
}
.member li a, li span{
    text-decoration: none;
    font-size: 14px;
    color: yellow;
}
.member li a:hover{
    color: black;
    background-color: brown;
}
h3 {
    text-indent: -9999px;
}
footer {
    padding: 15px;
    background-image: url("https://cdn.discordapp.com/attachments/971227156258652170/971619411301646366/backgroup-footer.png");
}
.sign{
    font-weight: bold;
    font-size: 14px;
    margin: 0px 9px;
    color: #19a965;
}
.application{
    margin-top: 10px;
}
.footer-link{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 14px;
}

.footer-link a{
    text-decoration: none;
    color: #19a965;
}
option{
    color: black;
}
[class*=" col-"], [class^=col-] {
    padding-right: 0;
    padding-left: 0;
}

.col-12 {
    width: 33.333333%;

}

.banner-wrapper {
    position: relative;
    display: block;
    cursor: pointer;
}

.row {
    height: auto;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

}


.col-sm-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
    position: relative;
    width: 100%;
}

#wrapper-content .banner-wrapper .banner-name {
    top: 50%;
}


.banner-name {
    top: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.text-hidden {
    text-indent: -9999px;
}
.manu-signin li a{
    font-size: 16px;
    color: rgba(65,64,66,.5);
    text-decoration: none;
    margin: 0px 0px 0px 66px;
}
.imgavatar{
    display: inline-flex;
    margin: 0 73px;
}
.avatarimg{
    margin: auto;
}
i{
    width: 50px;
    font-size: 30px;
    margin: 30px 0 0 0;
}
.content-auth .title-auth .decor-title {
    border: 2px solid #be1e2d;
    max-width: 20%;
}.mb-3{
     margin: 50px 58px 0px 383px;
     width: 41%;
     font-weight: bold;
 }
.mb-4{
    background-color: red;
    margin: 0 0 0 30px;
}
.mh3{
    margin: -89px 0px 0px 383px;
}
.mh3 a{
    text-decoration: none;
    color: black;
}
.singin{
    background-image: url("/img/bg-all.aee0155aaac5cc9f712b.jpg") ;
    height: 470px;
    margin: -50px 0 0 0;
}
h2{
    font-size: 2rem;
    margin: 0 0 50px 0;
    color: red;
    font-weight: 500;
    line-height: 0.2;
}
* {box-sizing: border-box}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

